<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            {{user.username}} from {{user.band_name}} on {{reated_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>