<article class="post">
    <div class="title">
        <h3 class = "show-date">
            {{date}}
        </h3>
        <a class = "band-name" href="/shows/{{id}}" target="_blank">{{band_name}}</a>
    </div>
</article>