<main>
  <div class="home-wrapper">
    <ul class="post-list" style="list-style-type:none;">
      {{#each shows as |show|}}
      <li>
        {{> show-info show}}
      </li>
      {{/each}}
    </ul>
  </div>
</main>
    <script src="javascript/homepage.js"></script>