<div class="wrapper">
    <form onsubmit="return false;">
        <div class="field">
            <label>Date of show:</label>
            <input type="date" class="input date" placeholder="date of show">
        </div>
        <div class="field">
            <label>Band Name</label>
            <input type="text" class="input band_name" placeholder="band name">
        </div>
        <div class="field">
            <label>Load-in Time</label>
            <input type="time" class="input load-in" placeholder="load-in">
        </div>
        <div class="field">
            <label>Soundcheck Time</label>
            <input type="time" class="input soundcheck" placeholder="soundcheck">
        </div>
        <div class="field">
            <label>Extra Details</label>
            <textarea class="textarea extra-deets" placeholder="Any extra details worth noting?"></textarea>
        </div>
        <div class="field">
            <label>Stage Plot</label>
            <input type="file" class="stage-plot-input">
        </div>
        <div class="field">
            <label>Input List</label>
            <input type="file" name="input list" class="input-list-input" placeholder="input list">
        </div>
        <button class="show-input-btn ui button">upload</button>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="javascript/show-input.js"></script>