html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

main {
  min-height: 100%;
  width: 100%;
  color: black;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../assets/background4.JPG");
  background-attachment: fixed;
  padding: 25px;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
  height: 200px;
}

.header-logo {
  display: flex;
  align-items: baseline;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  width: 100%;
  color: rgb(237, 255, 224);
}

.wrapper {
  top: 30%;
  left: 50%;
  margin-left: -150px;
  margin-top: -125px;
  position: absolute;
}

.home-wrapper {
  width: 75%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 65px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.double-btn {
  margin: 5px;
}

.form-deets {
  font-weight: bold;
}

.signup-form {
  display: none;
}

.background {
  background-color: #A27AD8;
  position: absolute;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
}

/* // Background Blur using backdrop-filter */
.blur {
  background: rgba(237, 255, 224, 0.166);
  backdrop-filter: blur(1px);
  height: 100%;
  width: 100%;
}

.show-input {
  display: flex;
  flex-direction: column;
}

.file-cta {
  width: 250px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.comment {
   margin: 15px
}

.comment-form {
  width: 50vw;
}

.comment-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.comments {
  width: 100%;
}

.comment-button-wrap {
  display: flex;
  justify-content: center;
  margin: 15px
}

.title {
  display: flex;
  justify-content: center;
}

.show-date {
  margin: 15px;
}

.band-name {
  margin: 15px;
}